.about {
  background-image: url(/img/aboutbg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
  padding: clamp(3.125rem, 2.443rem + 3.41vw, 5rem) 0;

  &__wrapper {
    display: flex;
    justify-content: center;
  }
  &__text {
    text-align: center;
    max-width: 969px;
    color: #fff;
    font-size: clamp(1.625rem, 1.261rem + 1.82vw, 2.625rem);
    font-weight: 700;
    text-shadow: 5px 2px 5px #000;
  }
}
