.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #fff;
    padding: 30px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__ul {
        display: flex;
        align-items: center;
        gap: 50px;
        a {
            color: #000;
            font-size: 20px;
            font-weight: 400;
            padding: 2px 0;
            position: relative;
            clip-path: inset(-100% 0 -100% 0);
            display: inline-block;
            transition: color var(--speed);

            &:hover{
                color: #000;
                --scale: 1;
            }

          &:before,
          &:after {
              content: '';
              position: absolute;
              height: 1px;
              width: 100%;
              background: #000;
              transform: scaleX(var(--scale, 0));
              transition: all .6s;
          }

          &:after {
              bottom: 100%;
              left: 0;
              transform-origin: 0 50%;
          }
          &:before {
              top: 100%;
              right: 0;
              transform-origin: 100% 50%;
          }
        }
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__btn {
        width: 200px;
        padding: 10px 0;
        background-color: #000;
        border: 1px solid #000;
        color: #fff;
        border-radius: 10px;
        font-size: 18px;
        transition: all .5s ease;
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }

    &__menu__toggle {
        display: none;
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 6px;
            background: none;
            position: relative;
            z-index: 6;
            padding: 12px;
            border: none;

            span {
                width: 30px;
                height: 2px;
                background-color: #000;
                transition: all .5s;
            }

            &.active {
                :nth-child(1) {
                    rotate: 45deg;
                    translate: 0px 4px;
                }
                :nth-child(2) {
                    rotate: -45deg;
                    translate: 0px -4px;
                }
                :nth-child(3) {
                    display: none;
                }

                &:hover {
                    animation: rotate 0.4s ease-in-out;
                }
            }
        }
    }
}